body {
    background-color: rgb(255, 199, 199);
}

h1 {
    font-family: fantasy;
    font-size: 80px;
    color: rgb(255, 108, 108);
    text-align: center;
}

h2 {
    font-family: fantasy;
    font-size: 50px;
    color: rgb(255, 108, 108);
    text-align: center;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    color: rgb(255, 108, 108);
}

h3 {
    font-family: fantasy;
    font-size: 50px;
    color: rgb(255, 108, 108);
    text-align: center;
}

a {
 text-decoration: none;
 color: rgb(255, 108, 108);
 font-family: cursive;
 font-size: 30px;
}